@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap");

$satin-black: #343434;

@keyframes glitch {
  0% {
    left: 2px;
    bottom: -2px;
  }
  25% {
    left: 3px;
    bottom: 3px;
  }
  50% {
    left: 6px;
    bottom: 2px;
  }
  75% {
    left: 6px;
    bottom: 1px;
  }
}

#about {
  padding-top: 150px;
  font-family: "Playfair Display", serif;
  color: $satin-black;
  #about-content {
    width: 65%;
    margin-left: 10%;
    p {
      font-family: "Inconsolata", monospace;
    }

    #about-title {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      letter-spacing: -1px;
    }

    .job-list {
      list-style-type: none;
      padding: 0;
      li {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem 0;

        .arrow {
          align-items: flex-end;
        }
        a {
          text-decoration: none;
          position: relative;
          color: $satin-black;
          display: flex;
          align-items: flex-end;
          .company {
            position: relative;
            margin: 0 0.25rem;
            line-height: 30px;
            font-family: "Montserrat", sans-serif;
            font-size: 30px;
            font-weight: 600;
            -webkit-text-stroke: 1px black;
            color: white;
            &:hover {
              color: $satin-black;
              -webkit-text-stroke: 1px white;
            }
            &:hover:after {
              content: "";
              position: absolute;
              left: 4px;
              bottom: -1px;
              z-index: -1;
              background-color: $satin-black;
              width: calc(100% + 2px);
              height: 32px;
              animation: glitch 2000ms linear infinite;
            }
          }
        }
      }

      .role,
      .dates {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        display: flex;
        align-items: flex-end;
        margin-right: 0.5rem;
      }
    }
    hr {
      width: 50%;
      margin: 0;
    }
  }

  #footer {
    position: fixed;
    bottom: 0;
  }
}

@media only screen and (max-width: 700px) {
  #about {
    #footer {
      position: static;
    }
  }
}

@media only screen and (max-width: 500px) {
  #about {
    #about-content {
      width: 80%;
    }
  }
}
