$icon-stroke: #999999;
$stroke-highlight: #343434;

#sidebar {
  position: fixed;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  #sidebar-icon-list {
    list-style-type: none;
    margin-bottom: 120px;
    li {
      a {
        .social-media-icon {
          width: 32px;
          height: 32px;
          padding: 0.25rem 1rem 0.25rem 0;
        }

        #linkedin-logo {
          stroke: $icon-stroke;
          fill: none;
          &:hover {
            stroke-width: 2px;
            stroke: $stroke-highlight;
          }
        }

        #github-logo {
          fill: none;
          stroke-width: 0.5px;
          stroke: $icon-stroke;
          &:hover {
            stroke-width: 0.8px;
            stroke: $stroke-highlight;
          }
        }

        #instagram-logo {
          fill: none;
          stroke-width: 0.5px;
          stroke: $icon-stroke;
          &:hover {
            stroke-width: 0.8px;
            stroke: $stroke-highlight;
          }
        }
      }
    }
  }
}
